.form {
  margin: 0 25%;
}

.drop-down,
.add-task-btn {
  height: 40px;
  margin: 2%;
  font-size: 1em;
  color: white;
  background-color: rgb(14, 107, 14);
  outline: none;
  font-family: 'Courier New', Courier, monospace;
}

.title-input,
.task-input {
  height: 30px;
  margin: 2%;
  font-size: 1em;
  color: black;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
}
